<div class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-md-4 control-label">{{ 'user.role'|trans }}</label>
        <div class="col-md-8">一般</div>
    </div>
    <div class="form-group">
        <label for="name" class="col-md-4 control-label">{{ 'user.username'|trans }}</label>
        <div class="col-md-8">{{ entity.username }}</div>
    </div>
    <div class="form-group">
        <label for="name" class="col-md-4 control-label">{{ 'user.password'|trans }}</label>
        <div class="col-md-8">{{ entity.password }}</div>
    </div>
</div>
